<section class="page-header">
  <div class="overly"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="content text-center">
          <h1 class="mb-3">Book Details</h1>

          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent justify-content-center">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item">
                <a routerLink="/list-books">Books List</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Book Details
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="single-product">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="single-product-slider">
          <img
            src="../../assets/images/{{ book.image }}"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>

      <div class="col-md-7">
        <div class="single-product-details mt-5 mt-lg-0">
          <h2>{{ book.title }}</h2>
          <hr />

          <h3 class="product-price">
            {{ book.price | currency : "VND" : "symbol" }}
          </h3>

          <p class="product-description my-4">
            {{ book.description }}
          </p>
          <button mat-button>Add to cart</button>

          <div class="products-meta mt-4 mb-4">
            <div class="product-category d-flex align-items-center">
              <span class="font-weight-bold text-capitalize product-meta-title"
                >Categories :</span
              >
              <span>{{ book.category.toUpperCase() }} </span>
            </div>

            <div class="product-category d-flex align-items-center">
              <span class="font-weight-bold text-capitalize product-meta-title"
                >In Stock :</span
              >
              <span>{{ book.quantity }} </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 
<section class="products related-products section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="title text-center">
          <h3>Today's Books</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-6" *ngFor="let book of newbooks">
        <div class="product">
          <div class="product-wrap">
            <a routerLink="/product-single"
              ><img
                class="img-fluid w-100 mb-3 img-first"
                src="../../assets/{{ book.image }}"
                style="height: 297px; width: 196px"
                alt="product-img"
            /></a>
          </div>

          <div class="product-hover-overlay">
            <a href="#"><i class="tf-ion-android-cart"></i></a>
            <a href="#"><i class="tf-ion-ios-heart"></i></a>
          </div>

          <div class="product-info">
            <h2 class="product-title h5 mb-0">
              <a routerLink="/product-single/{{ book._id }}">{{
                book.title
              }}</a>
            </h2>
            <span class="price">
              {{ book.price | currency : "VND" : "symbol" }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
