<nav
  class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation shadow-sm"
  id="navbar"
>
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="/">E-Shop</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="d-flex navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/list-books']">Book List </a>
        </li>
        <li
          *ngIf="this.oidcSecurityService.isAuthenticated()"
          class="nav-item active"
        >
          <a class="nav-link" [routerLink]="['/manage-books']">Manage Book </a>
        </li>
      </ul>
      <ul class="top-menu mb-0 float-right ml-auto" id="top-menu">
        <li class="list-inline-item">
          <a
            [routerLink]="['/list-books']"
            class="search_toggle"
            id="search-icon"
            ><i class="tf-ion-android-search"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <div *ngIf="this.oidcSecurityService.isAuthenticated()">
            Hi, {{ userName }}
            <a [routerLink]="['/']" class="ml-3" (click)="logout()"> Logout</a>
          </div>
          <div *ngIf="!this.oidcSecurityService.isAuthenticated()">
            <a class="ml-3" (click)="login()"> Login</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
